header {
  /*background-color: #7d7eb9;*/
  background: linear-gradient(to top, green, #f6fff6);
  padding: 10px 40px;
  border-bottom: 5px solid #e6d8e3;
}
header h1 {
  font-family: 'PT Serif', serif;
  margin-top: 2px;
  color: #3f6469;
}
